* {
    margin: 0;
    padding: 0;
}

/* ------ Navbar ------- */
.navbar {
    background-color: #f0eee4;
    overflow: hidden;
    display: flex;
    height: 44px;
}

.navbar .menu a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 25px;
    display: block;
    text-align: center;
}

.navbar .menu a:hover {
    background-color: #e3e0d0;
    transform: scale(1.05);
}

.navbar .mnlogo img{
    width: 120px;
    height: 25px;
}

.mnlogo{
    height: 40px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar .menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.menu input{
    padding: 6px;
    border: none;
    margin-left: 10px;
}

.menu button{
    float: right;
    padding: 6px 8px;
    background: #ddd;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.menu button:hover{
    background: #ccc;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px;
}

.cat {
    width: 25px;
    height: 22px;
}

.cat:hover{
    transform: scale(1.1);
}

.ban{
    background-color: black;
    height: 30px;
    overflow: hidden;
}


.ban p{
    font-family: "Poppins", serif;
    font-weight: 400;
  font-style: normal;
  color: white;
  animation: scroll-left 20s linear infinite;
  padding-top: 2px;
  

}

@keyframes scroll-left {
    0%{
    transform: translateX(100%); 		
    }
    100%{
    transform: translateX(-10%); 
    }
}

/* main */

.box{
    height: 500px;
    display: flex;
    gap: 40px;
    justify-content: center;
    background-color: #f5f5f7;
    align-items: center;
}
.to{
    width: 280px;
    height: 400px;
    background-image: url("mod3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
}
.city-box:hover{
    transform: scale(1.05);
}

.os{
    width: 280px;
    height: 400px;
    background-image: url("mod4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;
}
.na{
    width: 280px;
    height: 400px;
    background-image: url("mod2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
}
.dd{
    text-align: center;
    padding: 40px 0 5px 0;
    font-size: 40px;
    background-color: #f5f5f7;
}

/* Long */

.long{
    background-color: #f0eee4;
    height: 200px;
    text-align: center;
    padding-top: 40px;
    
}

.long h1{
    font-size: 40px;
    padding-bottom: 20px;
}

.long p{
    font-family: "Poppins", serif;

}

/* section */

.sec{
    height: 400px;
    background-color: aquamarine;
    display: flex;
}

.si{
    background-image: url("mod2.jpg");
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100%;
}

.st{
    background-color: white;
    width: 60%;
    height: 100%;
    
}

.st h1{
    margin: 80px 40px 20px 100px;
    font-weight: 400;
}

.st p{
    font-family: "Poppins", serif;
    margin: 20px 150px 40px 100px;

}

.st a{
    color: black;
    font-family: "Poppins", serif;
    margin-left: 100px;
}

/* Contact Us */

.cont{
    background-color: black;
    height: 200px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont h5{
    font-family: "Poppins", serif;
    color: white;
    text-align: center;
    padding: 40px 0;
}

.cont div{
    width: 200px;
    
}

.cont ul li{
    color: rgba(255, 255, 255, 0.756);
    list-style-type: none;
    text-align: center;
    padding-bottom: 20px;
}

.cont a{
    text-decoration: none;
}

.cont li:hover{
    color: white;
    text-decoration: underline;
}

.scir{
    width: 40px;
    height: 40px;
    background-color: #f0eee4;
    border: 1px solid black;
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html{
    scroll-behavior: smooth;
}

/* sidebar */


#check{
    display: none;
}

.btn1{
    padding: 8px 12px;
    font-size: 25px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: all 0.3 linear;
}

.bt1 i{
    cursor: pointer;
} 

.btn1 i:hover{
    font-size: 25px;
}
.btn2 i:hover{
    font-size: 25px;
}

.btn2{
    position: absolute;
    left: 260px;
    top: 15px;
    font-size: 25px;
    color: #f0eee4;
    cursor: pointer;
    transition: all 0.3 linear;
}

.sidebar{
    z-index: 2;
    width: 300px;
    height: 100vh;
    background-color: #f8f7f2;
    position: fixed;
    top: 0;
    left: -350px;
    /* border: 2px solid rgb(45, 44, 44); */
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.854);
    transition: all 0.4s linear;

}

#check:checked ~ .sidebar{
    left: 0;
}

#check:checked ~ .btn1{
    opacity: 0;
}

.logos{
    padding: 14px 0px 14px 50px;
    color: black;
    margin-bottom: 5px;
}

.logos:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.799);
}

.menus{
    width: 100%;
}

.menus ul li{
    padding: 18px 20px;
}

.menus ul li i,a{
    color: black;
    text-decoration: none;
}

.menus ul li i{
    padding-left: 10px;
    padding-right: 15px;
}

.sm{
    width: 100%;
    position: absolute;
    bottom: 30px;
    display: flex;
    justify-content: center;
    color: black;
}

.sm i{
    font-size: 1.05em;
    padding-right: 12px;
    color: rgba(42, 42, 42, 0.838);
}

.sm i:hover{
    color: black;
}

.menus li:hover{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.797);
}